Jai Swaminarayan !!

java 13.0.2

Database Name: exam_management

Edit database details in database.properties
Edit server details in server.properties

 
Free Ports Required:
8989
7000

Please import Database named "exam_management.sql" available at root folder.

Steps:

1. Server Start:
	src/server/ChatServer.java
	src/server/FileRecieve.java

2. Client Login:
	src/client/LoginScreen.java
